.footer-container {
  /* display: flex; */
  position: fixed;
  bottom: 0;
  /* height: 60px; */
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 768px;
  margin: auto;
  padding: 10px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-menu-icon {
  width: 32px;
  height: 32px;
}

.footer-menu > span {
  font-size: 11px;
  margin-top: 5px;
}
